{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <div class="mt-4 p-5 bg-primary text-dark rounded ">
        <h1 class="text-white"><b> Education Pakorn
        <img src="{% static 'images/sc.jpg' %} "width="100x" height="100x"></b></h1>
    </div>
    <body>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-dark text-center">
         <B>โรงเรียนเสลภูมิพิทยาคม</B> <br>
        เรียนชั้นมัธยมศึกษาที่โรงเรียนเสลภูมิพิทยาคม จบการศึกษาปีที่ 2560 <br>
        <img src="{% static 'images/spk.jpg' %}"width="600" height="150"><br>
    </p> <br><br>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <B>วิทยาลัยการอาชีพร้อยเอ็ด</B> <br>
        เรียนชั้น ปวช.ที่วิทยาลัยการอาชีพร้อยเอ็ด จบการศึกษาปีที่ 2563<br>
        <img src="{% static 'images/ja.jpg' %}"width="600" height="150"><br>
    </p> <br><br>
      <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <B>วิทยาลัยเทคนิคร้อยเอ็ด</B> <br>
        เรียนชั้น ปวส.ที่วิทยาลัยเทคนิคร้อยเอ็ด จบการศึกษาปีที่ 2565<br>
        <img src="{% static 'images/tn.jpg' %}"width="600" height="150"><br>
    </p> <br><br>

{% endblock %}