{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <div class="mt-4 p-5 bg-primary text-dark rounded">
        <h1 class="text-white"><b> Idol
            <img src="{% static 'images/bk1.png' %}" class="rounded-circle" width="150x" height="150x"></b></h1>
    </div>
    <body>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-dark ">
    <p class="text-center" style="font-size:160%;"><B>รู้จักกับอาจารย์แดง กีตาร์ เจ้าของแนวคิดธรรมะแบบ กระตุกจิตกระชากใจ</B>  <B></B> <br>
        <br>
    </p>
    <!DOCTYPE html>
    <html lang="en">
    <hr width="100%" class="text-dark text-center" size="5">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>

    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/ajd.jpg' %}"width="1000x"height="600x">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ajd1.jpg' %}"width="1000x"height="600x">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/ajd2.jpeg' %}"width="1000x"height="600x">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <p class="bg-seashell text-dark text-center">
        <B>ธรรมะกระตุกจิตกระชากใจ</B> <br>
        ท่านผู้เจริญด้วยมากซึ่งปัญญา<br>
        กระผมอาจารย์แดง กีตาร์ เจ้าเก่า กราบสวัสดีครับ” ทุกคนน่าจะคุ้นเคยกับประโยคนี้ดีหลังจากเปิดคลิปวิดีโอ<br>
        ด้วยเสียงกีตาร์ที่เร้าใจ และน่าจะเป็นประโยคเปิดสำหรับทุกๆ คลิปที่อาจารย์แดงลงในยูทูบช่อง ‘DaengGuitar’<br>
        ที่มีภาพปกคลิปสีสันสวยงาม แถมมีภาพกราฟิกที่มีจินตนาการสุดลึกล้ำ แม้ว่าอาจารย์แดงจะมีนามสกุลว่า ‘กีตาร์’<br>
        พ่วงอยู่ด้วย แต่ดูเหมือนว่าทุกวันนี้อาจารย์จะหันเข้าสู่ธรรมะอย่างเต็มตัว และพยายามบรรยายเกี่ยวกับคำสอนชีวิต<br>
        ให้กับผู้คนบนโลกออนไลน์อย่างตั้งใจจริง<br>
        <br>
        เชื่อว่าพอมาถึงตรงนี้ หลายคนอาจสงสัยว่าอาจารย์แดงคือใคร บางคนอาจคุ้นหน้าจากโลกโซเชียลที่ถูกสร้างเป็นมีมอย่างมากมาย<br>
        ส่วนใครที่ไม่ค่อยได้เล่นโซเชียล ก็อาจพบเจออาจารย์ได้ตามห้างสรรพสินค้าในกรุงเทพมหานคร ในเสื้อเชิร์ตสุดเก๋<br>
        พร้อมกับผมสีดอกเลายาวสลวย เราจะมาทำความรู้จักกันว่าอาจารย์แดง แท้จริงแล้วเป็นใคร<br>
    </p> <br><br>
    
    <p>
        <img src="{% static 'images/ajd1.jpg' %}"width="1000" height="500">
    </p>

    <p class="bg-seashell text-dark text-center">
        อาจารย์แดง กีตาร์ เป็นนักกีตาร์รุ่นเก๋าที่มีชื่อในวงการ โดยมีชื่อจริงว่า มนัส พันธุวงค์ราช หรือ<br>
        ถ้าอยู่ในวงการจะรู้จักกันในชื่อ อาจารย์แดงกีต้าร์ (หมดฤทธิ์) จิตประภัสสร ไม่มีใครรู้ว่าในวัยหนุ่มอาจารย์<br>
        เคยมีประสบการณ์ในวงการดนตรีมากน้อยแค่ไหน แต่ที่แน่ๆ คืออาจารย์เคยทำวงร่วมกับคุณรงค์ <br>
        มือเบสของวง ‘หิน เหล็ก ไฟ’ ในชื่อวง ‘BURN’ อีกทั้งยังเป็นนักเขียนประจำนิตยสาร ‘The Quiet Storm’<br>
        และนิตยสาร ‘I.S. Song Hits’ ซึ่งเป็นนิตยสารยอดฮิตสำหรับหนุ่มสาวไทยในยุค 70s - 80s<br>
        <br>
        เมื่ออายุมากขึ้น อาจารย์แดงได้ผันตัวเองมาเป็นครูสอนกีตาร์เต็มตัว ทั้งสอนแบบตัวต่อตัว และสอนผ่านซีดีเพลง<br>
        และหนังสือประกอบการเรียน ถ้าใครเป็นคนเจน Y หรือ Z ที่สนใจเรียนกีตาร์ต้องรู้จักกับอาจารย์แดง <br>
        และเห็นหนังสือของอาจารย์ได้ตามร้านหนังสือทั่วไป รวมถึงร้านหนังสือชั้นนำ<br>
    </p> <br><br>

     <p class="text-center">
        <img src="{% static 'images/ajd4.png' %}"width="700" height="500">
    </p>

    <p class="bg-seashell text-dark text-center">
        จะเรียกว่าอาจารย์แดงเป็นเสมือนครูสอนดนตรีคนแรกๆ ของเด็กเจน Y และ Z ก็ว่าได้ <br>
        เพราะในราวปี 90s - 2000s โลกอินเทอร์เน็ตยังไม่เป็นที่นิยมมากนัก แถมพื้นที่สำหรับดนตรีค่อนข้างมีน้อย <br>
        ไม่ต้องพูดถึงคนที่ออกมาสอนดนตรีแบบออนไลน์ หนังสือของอาจารย์แดงจึงเป็นที่สื่อที่เข้าถึงง่าย <br>
        ราคาไม่แพง อีกทั้งวิธีการสอนยังสามารถเข้าใจง่ายได้อีกด้วย<br>
        <br>
        ยกตัวอย่างในคลิปสอนกีตาร์โปร่งของอาจารย์แดง อาจารย์จะเริ่มสอนพื้นฐานการเล่นกีตาร์โปร่งให้กับผู้ที่ไม่<br>
        เคยเล่นกีตาร์มาก่อนเลย ทั้งการจับคอร์ด การวางท่า การตีคอร์ด และจังหวะการเปลี่ยนคอร์ดให้สัมพันธ์กันกับ<br>
        การร้อง เป็นต้น นอกจากนี้อาจารย์ยังสอนกีตาร์ไฟฟ้า พร้อมกับทฤษฎีตั้งแต่ระดับพื้นฐานถึงระดับปานกลาง <br>
        ไม่ว่าจะเป็นเรื่องโครงสร้างคอร์ด สเกลต่างๆ ไปจนถึงฝึกการโซโล่เพลง<br>
        <br>
        สำหรับใครที่สนใจเรียนกีตาร์ตัวต่อตัวก็สามารถเรียนกับอาจารย์ได้ที่สตูดิโอแดงกีตาร์ ซอยรามอินทรา 60 <br>
        จากประสบการณ์ของผู้ที่เคยเรียน เล่าว่าอาจารย์แดงเป็นครูที่ตั้งใจสอน ถ้าใครไม่ตั้งใจจะโดนไล่กลับบ้าน<br>
        พร้อมกับบอกว่า “เสียดายเงินพ่อแม่ อยากเรียนจริงๆ ค่อยมาใหม่”<br>
        <br>
    </p> <br><br>

    <p class="text-center">
        <img src="{% static 'images/ajd2.png' %}"width="700" height="400">
    </p>

    <p class="bg-seashell text-dark text-center">
        ด้วยวัยที่มากขึ้น อาจารย์แดงเริ่มเข้าสู่สายธรรมะอย่างจริงจัง บนช่องยูทูบที่นอกจากจะมีคลิปสอนกีตาร์แล้ว<br>
        ก็ยังมีการสอดแทรกคลิปสอนธรรมะมากขึ้นเรื่อยๆ แต่ละคลิปมีความยาวตั้งแต่สิบนาทีถึงหนึ่งชั่วโมงครึ่ง<br>
        ส่วนเนื้อหานั้นมีตั้งแต่เรื่องธรรมะ คำสอนชีวิต ที่เกี่ยวโยงกับการบรรลุอรหันต์ รวมถึงเรื่องคอนเซปต์ความคิด<br>
        สิ่งสมมติ และการตีความ<br>
        <br>
        คำสอนหลักของอาจารย์แดงคือสิ่งที่เรียกว่าธรรมะแบบ ‘กระตุกจิตกระชากใจ’ คำสอนนี้มีจุดประสงค์คือการ<br>
        ปล่อยวางให้ตนบรรลุอรหันต์ การกระตุกจิตกระชากใจหากพูดกันในภาษาพุทธคือความยึดติดต่ออารมณ์ความรู้สึก<br>
        โลภ โกรธ หลง นั่นจึงเป็นสาเหตุที่ในบางคลิปทำไมอาจารย์ถึงมีการใช้คำหยาบคาย เพราะเป็นการสอน<br>
        เรื่องธรรมแนวคิดแบบกระตุกจิตกระชากใจนั่นเอง<br>
        <br>
    </p> <br><br>

     <p class="text-center">
        <img src="{% static 'images/ajd3.png' %}"width="700" height="400">
    </p>

     <p class="bg-seashell text-dark text-center">
        แต่ด้วยเนื้อหาที่เต็มไปด้วยคำหยาบ และอาจารย์แดงมีแนวคิดที่หลายคนยากที่จะเข้าใจ ทำให้เกิดกระแสมีม<br>
         บนโลกโซเชียล ทั้งตัดต่อเป็นคลิปตลกบ้าง ใส่ข้อความในรูปภาพด้วยคำพูดของอาจารย์แดงบ้าง จนกลายเป็น<br>
         ไวรัลบนอินเทอร์เน็ตกันอยู่พักหนึ่ง แต่ถึงกระนั้นหลายคนก็ยังนับถืออาจารย์แดงอยู่เสมอ ใครที่พบเจออาจารย์<br>
         อยู่ในที่สาธารณะก็พากันถ่ายรูปกันอย่างมากมาย<br>
        <br>
       แน่นอนว่าเราคงวิจารณ์เรื่องความสามารถด้านการเล่นกีตาร์ของอาจารย์ได้อย่างไม่เต็มปาก แม้ว่าจะมีคนบอก<br>
         ว่าจริงๆ แล้วอาจารย์เล่นไม่ได้ดีเท่าไรนัก บางคนกล่าวว่าทฤษฎีของอาจารย์แน่นมาก เรื่องนี้ก็คงเป็นเรื่องมุม<br>
         มองแต่ละคนที่แตกต่างกัน เช่นเดียวกันกับธรรมะ ที่บางคนอาจเห็นด้วย หรือไม่เห็นด้วยก็ตาม แต่ปฏิเสธไม่ได้<br>
         เช่นกันว่าอาจารย์แดงล้วนมีความปรารถนาดีต่อชาวไทยทุกคน และคอยให้กำลังใจกับนักดนตรีชาวไทยอยู่เสมอ<br>
        <br>
    </p> <br><br>

{% endblock %}