{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <h1 class="text-center form-title">List Form.</h1>
    <hr>
    <table class="table text-center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Sum</th>
            <th>Discount</th>
            <th>Total</th>
        </tr>
        {% for product in product %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.age }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.sSum|floatformat:2 }}</td>
                <td>{{ product.sDiscount|floatformat:2 }}</td>
                <td>{{ product.sTotal|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}