{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <div class="mt-4 p-5 bg-primary text-dark rounded ">
        <h1 class="text-white"><b> Pinterwst Pakorn
            <img src="{% static 'images/bgs.jpg' %}" class= width="100x" height="100x"></b></h1>
    </div>
    <body>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-dark text-center">
        <img src="{% static 'images/s1000rr.jpg' %}"width="600px"> <br>
        <B>S1000RR</B> <br>
        ข้อมูลทางเทคนิค บีเอ็มดับเบิ้ลยู เอส 1000 อาร์อาร์<br>
        เครื่องยนต์	4 สูบ 4 จังหวะ<br>
        ขนาดเครื่องยนต์	999 ซีซี<br>
        ระบบวาล์ว	4 วาล์วต่อสูบ<br>
        ระบบระบายความร้อน	ระบายความร้อนด้วยน้ำ<br>
        กำลังสูงสุด	199 แรงม้า ที่ 13,500 รอบ/นาที<br>
        แรงบิดสูงสุด	113 นิวตันเมตร ที่ 10,500 รอบ/นาที<br>
        กระบอกสูบ x ช่วงชัก	80.0 x 49.70 มม.<br>
        อัตราส่วนการอัด	13.0: 1<br>
        ระบบจ่ายน้ำมัน	หัวฉีดอิเล็กทรอนิกส์<br>
        ระบบสตาร์ท	สตาร์ทมือ/ไฟฟ้า<br>
        ระบบขับเคลื่อน	โซ่<br>
        ชนิดของโครงรถ	Aluminium Composite Bridge Frame<br>
        ประเภทน้ำมันเชื้องเพลิง	เบนซินไร้สารตะกั่ว ค่าออกเทน 95 ขึ้นไป<br>
        แบตเตอรี่	12 V / 7 Ah<br>
        ระบบคลัทช์	คลัทช์ multiplate ในอ่างน้ำมันป้องกันกระโดดคลัทช์ควบคุมกลไก<br>
        ระบบเกียร์	6 เกียร์<br>
        ระบบกันสะเทือนหน้า	โช้คอัพคู่ หัวกลับ Upside-Down ขนาด 46 มม.<br>
        ระบบกันสะเทือนหลัง	สวิงอาร์มอลูมิเนียม 2 ด้าน โช้ค rebound damping<br>
        ยางด้านหน้า	120/70 ZR 17<br>
        ยางด้านหลัง	190/55 ZR 17<br>
        ระบบเบรกด้านหน้า	Twin Disc เบรคคาลิปเปอร์เบรก 4 ลูกสูบคงลอยขนาดเส้นผ่าศูนย์กลาง 320 มม ABS<br>
        ระบบเบรกด้านหลัง	ดิสก์เบรกเดี่ยวลูกสูบเดี่ยวลอยหนาขนาดเส้นผ่าศูนย์กลาง 220 มม ABS<br>
        ความกว้าง x ยาว x สูง 	82.60 x 205.00 x 114.00 ซม.<br>
        ความสูงจากพื้นถึงเบาะ	81.50 ซม.<br>
        ระยะห่างช่วงล้อ	143.80 ซม.<br>
        น้ำหนักบรรทุกสูงสุด	407 กก.<br>
        ปริมาณถังน้ำมัน	17.5 ลิตร<br>
        น้ำหนัก	204 กิโลกรัม<br>
    </p> <br><br>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <img src="{% static 'images/h2r2.png' %}"width="550px"><br>
        <B>Kavasaki NINJA H2 R</B> <br>
        สเปคของ Kawasaki Ninja 1000<br>
        • เครื่องยนต์ : 4 จังหวะ 4 ลูกสูบ<br>
        • กระบอกสูบ : 1,043 ซีซี<br>
        • ระบบวาล์ว : DOHC, 16 วาล์ว<br>
        • ความกว้างกระบอกสูบ x ช่วงชัก : 77.0 × 56.0 มม.<br>
        • อัตราส่วนแรงอัด 11.8 : 1<br>
        • ระบายความร้อน : ระบายความร้อนด้วยน้ำ<br>
        • ระบบจ่ายน้ำมัน : หัวฉีด ø 38 มม. x 4 with oval sub-throttles<br>
        • ระบบจุดระเบิด : Digital<br>
        • ความจุถังน้ำมัน : 19 ลิตร<br>
        • ระบบสตาร์ท : สตาร์ทไฟฟ้า<br>
        • คลัช : คลัชมือ แบบเปียกหลายชั้น<br>
        • ระบบเกียร์ : 6 สปีด แบบ Return<br>
        • โช้คอัพหน้า : โช้คแบบเทเลสโคปิค ขนาด 41 มม. + Compression and Rebounddamping and spring preload adjustability<br>
        • โช้คอัพหลัง : โช้คแก๊ส แบบแนวนอน Back-link + Rebound damping and spring preload adjustability<br>
        • เบรกหน้า : ดิสก์เบรคคู่ ขนาด 300 มม. คาลิปเปอร์เบรก 4 ลูกสูบ<br>
        • เบรกหลัง : ดิสก์เบรคเดี่ยว ขนาด 250 มม. คาลิปเปอร์เบรก 2 ลูกสูบ<br>
        • ล้อ : ล้อแม็ก<br>
        • ขนาดยางล้อหน้า : 120/70ZR17M/C (58W)<br>
        • ขนาดยางล้อหลัง : 190/50ZR17M/C (73W)<br>
    </p> <br><br>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <img src="{% static 'images/cbr1000rr.jpg' %}"width="700px"><br>
        <B>CBR1000RR</B> <br>
        เครื่องยนต์	4 สูบเรียง 4 จังหวะ DOHC 4 วาล์วต่อลูกสูบ<br>
        ขนาดเครื่องยนต์	1000 ซีซี<br>
        ระบบระบายความร้อน	ระบบระบายความร้อนด้วยน้ำ<br>
        ความกว้างกระบอกสูบ (มม.) x ช่วงชัก (มม.)	76 มม. x 55 มม.<br>
        อัตราส่วนแรงอัด	13:01<br>
        เกียร์	เกียร์ธรรมดา 6 สปีด<br>
        ระบบสตาร์ท	สตาร์ตไฟฟ้า (มือ)<br>
        ระบบคลัทช์	Wet, multiplate with diaphragm spring with assist slipper<br>
        ระบบจุดระเบิด	DIGITAL TRANSISTORIZED WITH ELECTRONIC ADVANCE<br>
        ประเภทน้ำมันเชื้อเพลิง	เบนซิน 95<br>
        ระบบจ่ายน้ำมันเชื้อเพลิง	หัวฉีด (PGM – DSFI)<br>
        ความจุถังน้ำมันเชื้อเพลิง	16.2 ลิตร<br>
        ระบบกันสะเทือน ล้อหน้า	Telescopic inverted fork (upside down fork)<br>
        ระบบกันสะเทือน ล้อหลัง	Swingarm<br>
        ระบบเบรก ล้อหน้า	ดิสก์เบรคคู่<br>
        ระบบเบรก ล้อหลัง	ดิสก์เบรกเดี่ยว<br>
        แบบวงล้อ	แม็กซ์<br>
        ขนาดยาง หน้า	120/70ZR17M/C (58W)<br>
        ขนาดยาง หลัง	190/50ZR17M/C (73W)<br>
        ขนาดรถ(ยาว X กว้าง X สูง มม.)	2,065 มม. X 720 มม.X 1,125 มม.<br>
        น้ำหนัก	197 กก.<br>

    </p> <br><br>


{% endblock %}