{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <div class="mt-4 p-5 bg-primary text-dark rounded ">
        <h1 class="text-white"><b> Product Pakorn
        <img src="{% static 'images/cartoon.jpg' %}" class= width="100x" height="100x"></b></h1>
     </div>
    <body>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <P style="font-size:160%;" class="text-dark text-center">
        <B>ร้านหนังสือการ์ตูน</B> <br>
        <B>ต่อสู้ แฟนตาซี</B> <br>
    </P>
    <p class="bg-seashell text-dark">
        <img src="{% static 'images/ONE-PIECE.jpg' %}"width="230px">---------------
        <img src="{% static 'images/7b.jpg' %}"width="300px">---------------
        <img src="{% static 'images/bp.jpg' %}"width="230px"> <br>
        <B>One Piece วันพีช เล่ม 1 $399</B>---------------------- <B>ศึกตำนาน 7 อัศวิน ภาค ปฐมบาป $239 </B>-------------------- <B> ดาบพิฆาตอสูร เล่ม 3 $199</B>
    </p> <br><br>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <P style="font-size:160%;" class="text-dark text-center">
        <B>ต่างโลกแฟนตาซี</B> <br>
    </P>
    <p class="bg-seashell text-dark">
        <img src="{% static 'images/drs.jpg' %}"width="230px">--------------------
        <img src="{% static 'images/gt.jpg' %}"width="230px">------------------
        <img src="{% static 'images/rml.jpg' %}"width="250px"> <br>
        <B> Dr.Stone เล่ม 23 $259</B>----------------------------- <B>เกิดชาตินี้พี่ต้องเทพ เล่ม 13 $239 </B>--------------------------- <B> slime เล่มที่ 5 $159</B>
    </p> <br><br>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <P style="font-size:160%;" class="text-dark text-center">
        <B>ความรัก</B> <br>
    </P>
    <p class="bg-seashell text-dark">
        <img src="{% static 'images/yourname.jpg' %}"width="240px">--------------------
        <img src="{% static 'images/mass.jpg' %}"width="230px">------------------
        <img src="{% static 'images/sl.jpg' %}"width="230px"> <br>
        <B> Your Name เล่ม 19 $559</B>----------------------------- <B>AMAGAMIss เล่ม 3 $139 </B>--------------------------- <B>สะดุดรักยัยแฟนเช่า เล่ม 1 $245</B>
    </p> <br><br>


{% endblock %}