{% extends 'base.html' %}
{% load static %}
{% block centent %}
    <div class="mt-4 p-5 bg-primary text-dark rounded">
        <h1 class="text-white"><b> Profile Pakorn
        <img src="{% static 'images/pf1.jpg' %}" class="rounded-circle" width="150x" height="150x"></b></h1>
    </div>
    <body>
    <h1 class="bg-seashell text-dark text-center"> <b></b></h1>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-dark ">
        <p style="font-size:160%;"><B>ชื่อ</B>  ปกรณ์ ทองโพธิ์แก้ว <B>ชื่อเล่น</B>  โฟ๊คส์<br>
            <p style="font-size:150%;"><B>เกิดวันที่</B> 21 เดือน พฤศจิกายน พ.ศ.2545<br>
        <p style="font-size:150%;"><B>น้ำหนัก</B> 65 กิโลกรัม <br>
    <p style="font-size:150%;"><B>ส่วนสูง</B> 174 เซนติเมตร
        <p style="font-size:140%;"><B>เลือดกรุ๊บ</B> O <B>  ปัจจุบันศึกษาอยู่ที่</B> มหาวิทยาลัยราชมงคลอีสานวิทยาเขตขอนแก่น<br>
        <p class="text-center" style="font-size:130%;"><B>สิ่งที่ชอบ</B>  <B></B> <br>
         <br>
    </p>
    <p class="bg-seashell text-dark text-center">
        <img src="{% static 'images/fh.jpg' %}"width="450" height="600"><br>
        <B>ฝีมือในการตกปลาขั้นเทพ</B> <br>
         ตกปลายังไงให้ไม่แห้ว เหยื่อขั้นเทพ<br>
    </p> <br><br>
    <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <img src="{% static 'images/ms.jpg' %}"width="450" height="600"><br>
         <B>ขับรถยังไงให้ได้แผล</B> <br>
        ถึงรถจะแรง แต่ก็ต้องติดไฟแดงเหมือนกัน<br>
    </p> <br><br>
     <hr width="100%" class="text-dark text-center" size="5">
    <p class="bg-seashell text-truncate text-center">
        <img src="{% static 'images/pf2.jpg' %}"width="600" height="400"><br>
         <B>กีต้าร์เบสตึงๆ</B> <br>
        รักไม่ยุ่ง มุ่งแต่จะดีด<br>

    </p> <br><br>

{% endblock %}